.FavoritesMenu {
  align-items: center;
  display: flex;
  justify-content: center;
}

.fav-menu {
  background-color: red;
  border: 4px solid black;
  border-radius: 50px;
  height: 50vh;
  opacity: 0.85;
  overflow: auto;
  padding: 0 5%;
  width: 60%;
}

.favs-list {
  list-style-type: none;
}

.fav-list-pic {
  height: 70px;
  border-radius: 30%;
  margin: 5px;
}

.fav-list-item {
  align-items: center;
  background-color: black;
  border-bottom: 1px solid black;
  border-radius: 20px;
  color: lightgrey;
  display: flex;
  font-size: 22px;
  font-weight: bold;
  justify-content: space-between;
  margin: 5px;
  padding-left: 10px;
  text-decoration: none;
}

.fav-list-item:hover {
  background-color: lightgrey;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.empty {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 32px;
  text-align: center;
}

.capt-america {
  height: 60%;
  mix-blend-mode: multiply;
}

@media screen and (max-width: 560px) {
  .empty {
    font-size: 22px;
  }

  .capt-america {
    height: 50%;
  }
}
