.fa-star {
  border-radius: 2px;
  background-color: lightgrey;
  color: white;
  cursor: pointer;
  font-size: 32px;
  padding: 4px;
  position: absolute;
  right: 4px;
  top: 6px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
  1px 1px 0 #000;
}

.fa-star:hover {
  background-color: darkgrey;
  border-radius: 50%;
  color: red;
  transition: all 0.8s ease-in-out;
}

.favorited {
  border-radius: 50%;
  border: 2px solid black;
  background-color: darkgrey;
  color: red;
  font-size: 35px;
  padding: 8px;
  right: 8px;
  top: 188px;
}

.favorited:hover {
  border: solid 2px red;
}