.fa-star {
  border-radius: 2px;
  background-color: lightgrey;
  color: white;
  cursor: pointer;
  font-size: 32px;
  padding: 4px;
  position: absolute;
  right: 8px;
  top: 12px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
  1px 1px 0 #000;
}

.fa-star:hover {
  color: red;
  transition: all 0.8s ease-in-out;
}

.favorited {
  color: red;
}
