.fa-star {
  background-color: lightgrey;
  color: white;
  cursor: pointer;
  font-size: 28px;
  padding: 4px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.fa-star:hover {
  color: red;
  transition: all 0.8s ease-in-out;
}

.favorited {
  color: red;
}
