.Header {
  background: linear-gradient(to right, red, rgb(255, 83, 112));
  background-color: red;
  display: flex;
  grid-area: header;
  height: 200px;
  justify-content: space-around;
  text-align: center;
}

.main-logo {
  background: url("../../images/wolverine-bg.jpg") center top no-repeat;
  background-size: 710px;
  bottom: 20px;
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 150px;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.explore-marvel-text {
  bottom: 57px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  position: relative;
}

.spider-man-pic,
.wolverine-pic {
  height: 190px;
  width: 190px;
}

.spider-man-pic {
  position: relative;
  top: 6px;
}

@media screen and (max-width: 1060px) {
  .spider-man-pic,
  .wolverine-pic {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .main-logo {
    font-size: 120px;
    padding: 20px 0;
  }

  .explore-marvel-text {
    bottom: 60px;
    font-size: 20px;
  }
}

@media screen and (max-width: 560px) {
  .Header {
    height: 140px;
  }

  .main-logo {
    font-size: 90px;
  }

  .explore-marvel-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 420px) {
  .Header {
    height: 100px;
  }

  .main-logo {
    font-size: 70px;
    padding: 10px 0;
  }

  .explore-marvel-text {
    bottom: 44px;
    font-size: 10px;
  }
}
