.CharacterProfile {
  background-color: black;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
}

.profile-wrapper {
  background-color: lightgrey;
  display: grid;
  grid-template-areas:
    "picture description"
    "picture  comics";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;

}

.picture {
  border: 2px solid black;

  grid-area: picture;
  margin: 0 auto;
}

.description {
  border: 2px solid black;
  display: flex;
  grid-area: description;
  align-items: center;
}

.comics {
  border: 2px solid black;
  display: flex;
  grid-area: comics;
  align-items: center;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas {
  color: lightgrey;
  font-size: 66px;
}

.fas:hover {
  color: red;
  /* background-color: lightgrey; */
  transition: all 0.5s ease-in-out;
}