.CharacterProfile {
  background-color: black;
  height: 1000px;
}

.profile-wrapper {
  background-color: lightgrey;
  display: grid;
  grid-template-areas:
    "picture description"
    "picture  comics";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  width: 80%;
}

.picture {
  grid-area: picture;
  margin: 0 auto;
}

.description {
  border: 2px solid black;
  display: flex;
  grid-area: description;
  align-items: center;
}

.comics {
  border: 2px solid black;
  display: flex;
  grid-area: comics;
  align-items: center;

}
