.CharacterProfile {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
}

.profile-wrapper {
  display: grid;
  grid-template-areas: "picture description-comics-wrapper";
  grid-template-columns: 1fr 1fr;
  height: 90%;
  margin: auto;
  width: 80%;
}

.picture-wrapper {
  align-items: center;
  background-color: black;
  display: flex;
  grid-area: picture;
  justify-content: center;
}

.picture {
  margin: 5% 5%;
  height: 90%;
  width: 90%;
  object-fit: contain;
  max-height: 40vh;
  max-width: 40vh
}

.description-comics-wrapper {
  background-color: black;
  grid-area: description-comics-wrapper;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.name {
  background-color: red;
  color: white;
  font-size: 32px;
  margin-bottom: 10px;
}

.description {
  flex-direction: column;
  overflow: scroll;
  padding: 20px;
  position: relative;
  text-align: center;
}

.description-text {
  height: 100%;
}

.description-title {
  background-color: silver;
}

.comics {
  align-items: center;
  justify-content: center;
}

.description,
.comics {
  background-color: lightgrey;
  display: flex;
  height: 250px;
  width: 90%;
}

.nav-left,
.nav-right {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-left {
  border-bottom-right-radius: 75px;
}

.nav-right {
  border-bottom-left-radius: 55px;
}

.fa-chevron-circle-left,
.fa-chevron-circle-right {
  color: lightgrey;
  cursor: pointer;
  font-size: 66px;
}

.fa-chevron-circle-left:hover,
.fa-chevron-circle-right:hover {
  border: 3px solid lightgrey;
  border-radius: 50%;
  color: red;
  margin: 5px;
  transition: all 0.4s ease-in-out;
}

.loading-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-top: 15vh;
}

.loading-pic {
  background-color: grey;
  border: 4px solid black;
  border-radius: 50px;
  padding: 30px 60px;
}

.loading-msg {
  bottom: 40px;
  color: white;
  font-size: 22px;
  position: relative;
}