@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  background: url("../../images/comic-bg.jpg");
  height: 100vh;
  display: grid;
  grid-template-rows: 200px 1fr 80px;
  grid-template-areas: "header" "main" "footer"
}

@media screen and (max-width: 1150px) {
  .App {
    grid-template-rows: 200px 50px 1fr;
    grid-template-areas: "header" "footer" "main";
    height: auto;
    min-height: 100vh;
  }
}

@media screen and (max-width: 560px) {
  .App {
    grid-template-rows: 140px 50px 1fr;
  }
}

@media screen and (max-width: 420px) {
  .App {
    grid-template-rows: 100px 30px 1fr;
  }
}