.Footer {
  display: flex;
  grid-area: footer;
  justify-content: center;
}

.fav-btn {
  background-color: black;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  font-size: 28px;
  font-weight: lighter;
  outline: none;
  transition: all 0.4s ease-in-out;
  width: 30%;
}

.fav-btn:hover {
  background-color: lightgrey;
  color: red;
}