.Footer {
  display: flex;
  justify-content: center;
}

.fav-btn {
  background-color: black;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border: none;
  color: lightgrey;
  cursor: pointer;
  font-size: 50px;
  outline: none;
  padding-bottom: 18px;
  transition: all 0.4s ease-in-out;
  width: 80%
}

.fav-btn:hover {
  background-color: lightgrey;
  border: 8px solid black;
  color: black;
}

.fav-btn-star {
  background-color: transparent;
  color: lightgrey;
  font-size: 52px;
  position: relative;
}

.fav-btn-star:hover {
  color: black;
}

.my-favs {
  display: inline;
  position: relative;
  top: 9px;
}