.Footer {
  display: flex;
  grid-area: footer;
  justify-content: center;
}

.fav-btn {
  background-color: black;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  font-weight: lighter;
  outline: none;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 40%;
}

.fav-btn:hover {
  background-color: lightgrey;
  color: red;
}

.my-favs {
  font-size: 48px;
  text-align: center;
  padding-top: 14px;
}

@media screen and (max-width: 1150px) {
  .fav-btn {
    border-radius: 0;
    font-size: 20px;
    width: 100%
  }
}